aiofiles==25.1.0
aiogram==3.28.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-types==0.7.0
asgiref==3.11.1
async-timeout==5.0.1
asyncpg==0.31.0
attrs==26.1.0
babel==2.18.0
certifi==2026.5.20
cffi==2.0.0
contextlib2==21.6.0
cryptography==48.0.0
cyrtranslit==1.2.0
frozenlist==1.8.0
greenlet==3.5.1
idna==3.16
injector==0.24.0
magic-filter==1.0.12
multidict==6.7.1
orjson==3.11.9
passlib==1.7.4
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
python-decouple==3.8
python-dotenv==1.2.2
redis==7.4.0
setuptools==82.0.1
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
yarl==1.24.2
